@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --secondBackground: #a7553c;
  --shadowColor: #896837;
  --hoverColor: #6f5942;
  --font: Pierson;
}

@font-face {
  font-family: 'Pierson';
    src: url('fonts/pierson-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Zapfino';
    src: url('fonts/42251_ZapfinoLinotypeOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Elephant';
  src: url('fonts/ELEPHNT.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--hoverColor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


